body {
    font-family: sans-serif;
}

.spittleList h1 {
    font-size: 16pt;
}

.spittleList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.spittleList li:first-child {
    border-top: 0;
}

.spittleList li {
    border-top: 1px solid #cccccc;
}

.spittleMessage {
    font-weight: bold;
}

.spittleTime {
    font-size: 8pt;
}

.spittleLocation {
    font-size: 8pt;
}

.spittleForm h1 {
    font-size: 16pt;
}

span.error {
    color: red;
}